<script>
  // @ts-nocheck
  import Suit from "./Suit.svelte";
  import { getLevel } from "../shared/util";
  import chips from "../assets/poker-chips.svg";
  import "../app.css";
  export let game = {
    bids: [],
    players: [],
  };

  let ante = 10;

  // getting playerIndex using our client and occupants
  const playerIndex = dool.data?.occupants?.findIndex(
    (o) => o.nickname == client.nickname,
  );

  // getting dealer index
  const dealerIndex = dool.data.dealer;

  function getPointsForBid(bid) {
    const pointsByHandLength = {
      5: [10, 50, 100, 200, 400, 800, 70],
      6: [10, 50, 100, 40, 50, 60, 70],
      13: [10, 20, 30, 40, 50, 60, 70],
      // Add more hand lengths if needed
    };

    const handLength = game?.handLength || 0;
    const points = pointsByHandLength[handLength] || [
      50, 100, 200, 400, 800, 1600, 3200,
    ];

    const level = +bid.level;
    return points[level - 1] || 0;
  }

  function getLastMostLevel(bids, currentIndex) {
    // Find the lastmost level bid before the current index
    for (let i = currentIndex; i >= 0; i--) {
      if (bids[i].bidType !== "double" && bids[i].bidType !== "redouble") {
        return bids[i];
      }
    }
    return null;
  }

  let totalPoints = 0;

  function getTotalPoints() {
    game?.bids?.forEach((bid, bidIndex) => {
      let pointsToAdd = getPointsForBid(bid);
      console.log("pointes to add ", pointsToAdd);

      if (bid.bidType === "double" || bid.bidType === "redouble") {
        let lastMostLevelBid = getLastMostLevel(game.bids, bidIndex - 1);
        let lastMostLevelPoints = getPointsForBid(lastMostLevelBid);
        if (!isNaN(lastMostLevelPoints)) {
          totalPoints += lastMostLevelPoints;
        }
      }

      if (!isNaN(pointsToAdd)) {
        totalPoints += pointsToAdd;
      }
    });

    return totalPoints;
  }

  $: {
    game.bids;
    totalPoints = getTotalPoints();
  }
</script>

<div class="bid-grid" style="--player-count: {game?.players?.length / 2}">
  <!-- Have to change this, not correct logic for multiplayer -->
  {#if playerIndex == 0}
    <div class="name">{game.occupants[0].nickname}</div>
    <div class="name">{game.occupants[1].nickname}</div>
  {:else}
    <div class="name">{game.occupants[1].nickname}</div>
    <div class="name">{game.occupants[0].nickname}</div>
  {/if}

  <!--
    I'll try to let you know, what is this for!
    In bidding history we want to show the bids made by the player,
    i) In player's screen, if the player is a dealer he starts the bid
       then it is added to bids array, rendered below his nickname
    ii) In the other player's screen, the player is not a dealer,
        so in his screen - it should show below his nickname. So add an
        empty space in the dealer-player' nickname.
    Look at the design
   -->

  {#each Array(Math.abs(playerIndex - dealerIndex) % (game && game.players ? game.players.length / 2 : 1)).fill() as _, i}
    <div></div>
  {/each}

  {#each game.bids as bid, bidIndex}
    {#if bid.bidType === "pass"}
      <div class="bid-value-chips-container">
        <div>pass</div>
        <!-- {#if bidIndex > 0 && game.bids[bidIndex - 1].bidType !== "pass"}
          <div style="position: relative; display: inline-block;">
            <img src={chips} alt="chips" class="chips" />
            <span class="points"
              >{getPointsForBid(
                getLastMostLevel(game.bids, bidIndex - 1)
              )}</span
            >
          </div>
        {/if} -->
      </div>
    {:else if bid.bidType === "double"}
      <div class="bid-value-chips-container">
        <div>X</div>
        <!-- {#if bidIndex > 0 && game.bids[bidIndex - 1].bidType !== "pass"}
          <div style="position: relative; display: inline-block;">
            <img src={chips} alt="chips" class="chips" />
            <span class="points"
              >{getPointsForBid(
                getLastMostLevel(game.bids, bidIndex - 1)
              )}</span
            >
          </div>
        {/if} -->
        <!-- <div style="position: relative; display: inline-block;">
          <img src={chips} alt="chips" class="chips" />
          <span class="points"
            >{getPointsForBid(getLastMostLevel(game.bids, bidIndex - 1))}</span
          >
        </div> -->
      </div>
    {:else if bid.bidType === "redouble"}
      <div class="bid-value-chips-container">
        <div>XX</div>
        <!-- {#if bidIndex > 0 && game.bids[bidIndex - 1].bidType !== "pass"}
          <div style="position: relative; display: inline-block;">
            <img src={chips} alt="chips" class="chips" />
            <span class="points"
              >{getPointsForBid(
                getLastMostLevel(game.bids, bidIndex - 1)
              )}</span
            >
          </div>
        {/if} -->
        <!-- <div style="position: relative; display: inline-block;">
          <img src={chips} alt="chips" class="chips" />
          <span class="points"
            >{getPointsForBid(getLastMostLevel(game.bids, bidIndex - 1))}</span
          >
        </div> -->
      </div>
    {:else}
      <div class="bid-value-chips-container">
        <div class="bid-value">
          <span class="font-size">{getLevel(+bid.level, game.handLength)}</span>
          <Suit suit={bid.suit} --suit-color="white" />
        </div>
        <!-- {#if bidIndex > 0 && game.bids[bidIndex - 1].bidType !== "pass"}
          <div style="position: relative; display: inline-block;">
            <img src={chips} alt="chips" class="chips" />
            <span class="points"
              >{getPointsForBid(
                getLastMostLevel(game.bids, bidIndex - 1)
              )}</span
            >
          </div>
        {/if}
        <div style="position: relative; display: inline-block;">
          <img src={chips} alt="chips" class="chips" />
          <span class="points">{getPointsForBid(bid)}</span>
        </div> -->
      </div>
    {/if}
  {/each}
</div>

<!-- {#if game.bids.length}
  <div class="pot">
    <div style="position: relative; display: inline-block;">
      <img src={chips} alt="chips" class="chips" />
      <span class="points">{ante * 2 + totalPoints}</span>
    </div>
  </div>
{/if} -->

<style>
  .bid-grid {
    display: grid;
    grid-template-columns: repeat(var(--player-count), 1fr);
    margin-top: 3rem;
  }

  .bid-grid > div {
    border: 1px solid #ddd; /* Add borders for each cell */
    padding: 8px; /* Add padding for better visual appearance */
    text-align: center; /* Center text within cells */
  }

  .name {
    background-color: #6a6a6a;
  }

  .font-size {
    font-size: medium;
  }
  .chips {
    width: 3rem;
    height: 3rem;
  }

  .bid-value {
    display: flex;
  }

  .bid-value-chips-container {
    display: inline-flex;
    align-items: center;
    gap: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-center {
    display: flex;
    align-items: center;
  }

  .points {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .pot {
    position: absolute;
    margin: 1rem;
    padding: 1rem;
    bottom: 0;
  }
</style>
