<script>
  // @ts-nocheck

  export let card = { rank: null, suit: null, opacity: null };
  export let onClick = () => {};
  export let highlight = false;
  export let disable = false;
  export let gameframe;
  export let selected = false;
</script>

<!-- svelte-ignore a11y-click-events-have-key-events -->
<div
  class="card"
  on:click={onClick}
  class:clubs={card.suit == "C"}
  class:diamonds={card.suit == "D"}
  class:hearts={card.suit == "H"}
  class:spades={card.suit == "S"}
  class:highlight
  class:disable={!disable}
  style="
    opacity: {card.opacity ? card.opacity : 1}; 
    height: {gameframe ? 'var(--card-height)' : ''}; 
    width: {gameframe ? 'var(--card-width)' : ''};
    font-size:  {gameframe ? 'larger' : ''};
    transform: {selected ? 'scale(1.3)' : 'scale(1.05)'};
    box-shadow: {selected ? '0px 4px 4px #aea8a8' : ''}; 
    transition: transform 0.7s ease; "
>
  {#if card.rank == null || card.suit == null}
    <span></span>
  {:else}
    <span>{card.rank}</span>
    <span class="suit" alt={card.suit}></span>
  {/if}
</div>

<style>
  :global(.card) {
    padding: 0.2rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 7.6vw; /* one-thirteenth */

    background: var(--suit-none);
    color: var(--suit-fg);
    border: 1px solid var(--bid-bg);
    border-radius: 6%;
  }

  :global(.cards-horizontal .card) {
    flex-direction: column;
  }

  :global(.cards-large .card) {
    width: 100%;
    height: 100%;
  }

  .suit {
    width: 1em;
  }

  .card .suit {
    background-color: white;
    height: 1em;
    width: 1em;
    background: var(--suit-fg);
    mask-size: contain;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
  }

  .highlight {
    border: 3px dotted white;
  }

  .disable {
    opacity: 0;
  }

  .card.clubs {
    background: var(--suit-clubs);
  }

  .card.clubs .suit {
    background: var(--suit-fg);
    mask-image: var(--suit-svg-clubs);
    -webkit-mask-image: var(--suit-svg-clubs);
  }

  .card.diamonds {
    background: var(--suit-diamonds);
  }

  .card.diamonds .suit {
    mask-image: var(--suit-svg-diamonds);
    -webkit-mask-image: var(--suit-svg-diamonds);
  }

  .card.hearts {
    background: var(--suit-hearts);
  }

  .card.hearts .suit {
    mask-image: var(--suit-svg-hearts);
    -webkit-mask-image: var(--suit-svg-hearts);
  }

  .card.spades {
    background: var(--suit-spades);
  }

  .card.spades .suit {
    mask-image: var(--suit-svg-spades);
    -webkit-mask-image: var(--suit-svg-spades);
  }
</style>
