<script>
  import Vulnerable from "../components/Vulnerable.svelte";
  import ContractScore from "./ContractScore.svelte";

  export let client;
  export let messages;
  export let gameID;
  export let game;
  export let claim;
  export let turn;
  export let watcherIndex;
  export let undo;
  export let showRulesModalFunc;
  export let handleGuideMode;
  let showGuide = JSON.parse(localStorage.getItem('showGuide')) ?? true;

  let message;
  // get the link from the window itself
  let link = window.location.href;

  const sendMessage = () => {
    if (typeof message === "undefined") return;

    client.groupChat(gameID, message);

    message = undefined;
  };

  const nextGame = () => {
    console.log("folding the game");
    client.fold(gameID);
  };

  const rules = () => {
    showRulesModalFunc(false);
  };

  function handleClaim() {
    claim();
  }

  function handleGuide() {
    showGuide = !showGuide;
    localStorage.setItem('showGuide', JSON.stringify(showGuide));
    handleGuideMode(showGuide);
  }

  function getFlattenedData() {
    let d = { ...game };

    // Extra data that should not be used outside the
    // getRoom and setRoom functions
    d.meta = {};

    // Flatten the deck
    if (d.deck && d.deck.cards) {
      d.deck = d.deck.cards;
    }

    // Flatten tricks
    if (d.tricks && d.tricks.getTricksArray) {
      // First, note down which tricks are flipped
      d.meta.flippedTricks = d.tricks.map((trick) => trick.flipped);

      // store down claim also
      d.meta.claimedTricks = d.tricks.map((trick) => {
        return trick.map((element) => {
          if (element.proposal !== undefined) {
            return {
              proposal: element.proposal,
              acceptedBy: element.acceptedBy,
              rejectedBy: element.rejectedBy,
              participants: element.participants,
            };
          } else {
            //done to preserve historical sequence
            return {};
          }
        });
      });

      d.meta.undoTricks = d.tricks.map((trick) => {
        return trick.map((element) => {
          if (element.mode !== undefined) {
            return {
              mode: element.mode,
              accepted: element.accepted,
              rejected: element.rejected,
              player: element.player,
            };
          } else {
            //done to preserve historical sequence
            return {};
          }
        });
      });

      // We setting the trumpSuit in handleStart(),
      // but we need to set it here also to save the trump
      d.meta.trumpSuit = d.tricks.trumpSuit;

      // Then, flatten them
      d.tricks = d.tricks.getTricksArray();
    }

    // Save it
    return d;
  }

  function reportBug() {
    const roomLink = window.location.href;
    const userJID = `${client.jid._local}@${client.jid._domain}`;
    const nickname = client.nickname;

    const data = JSON.stringify(getFlattenedData());

    // Construct the mailto URL
    const email = import.meta.env.VITE_BUG_REPORT_ID;
    const subject = encodeURIComponent("Bug Report for Dool 24/24");
    const debugInfo = `\n[Please describe the bug here, then send the email] \n\n Debug info: \n=========== \n\nRoom link: ${roomLink}\n\nJID: ${userJID}\n\nNickname: ${nickname}\n\nTimestamp: ${new Date().toISOString()}\n\nData: \n${data}`;

    const body = encodeURIComponent(debugInfo);

    // Construct the mailto URL
    const mailtoLink = `mailto:${email}?subject=${subject}&body=${body}`;

    // Create a temporary anchor element to trigger the mailto link
    const a = document.createElement('a');
    a.href = mailtoLink;
    a.target = '_blank';
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
  }

  const copyLink = () => {
    console.log("Link copied!");
    const textarea = document.createElement("textarea");
    textarea.value = link;
    document.body.appendChild(textarea);
    textarea.select();
    document.execCommand("copy");
    document.body.removeChild(textarea);
    alert("Game invite link copied to your clipboard")
  };

  let value = "";
  let submittedValue = null;
</script>

<div class="chat-frame">
  <ContractScore {game} {client} />

  {#if game.handLength == 13}
    <Vulnerable
      dealer={game?.dealer !== undefined ? game?.dealer : null}
      dealNumber={game?.dealNumber !== undefined ? +game.dealNumber + 1 : null}
      vulnerableSides={game?.vulSides || []}
    />
  {:else}
    <Vulnerable
      dealNumber={game?.dealNumber !== undefined ? +game.dealNumber + 1 : null}
    />
  {/if}

  <div class="xtra-btns-container">
    <button
      class="button button-primary"
      class:disabled={watcherIndex !== -1 ||
        !["card", "take"].includes(turn.type)}
      on:click={undo}
      disabled={!["card", "take"].includes(turn.type) || watcherIndex !== -1}
    >
      Undo
    </button>
    <button
      class="button button-primary"
      class:disabled={!["card", "take"].includes(turn.type) ||
        watcherIndex !== -1}
      on:click={handleClaim}
      disabled={!["card", "take"].includes(turn.type) || watcherIndex !== -1}
    >
      Claim
    </button>
    <button class="button button-primary" on:click={copyLink}>Invite</button>
    <button class="button button-primary" on:click={rules}>Rules</button>
    <button
      class="button button-primary guide-btn"
      class:non-guide-mode={showGuide}
      on:click={handleGuide}
    >
      Guided Mode
      {#if showGuide}
        <span>&check;</span>
      {:else}
        <span></span>
      {/if}
    </button>
    <button class="button button-primary report-btn" on:click={reportBug}>Report Bug</button>
  </div>
  <div class="header">Chat</div>

  {#if messages && messages.length}
    <ul class="messages">
      {#each messages as message}
        {#if message.from === client.nickname}
          <li
            class="message"
            style="text-align: right;grid-template-columns: auto min-content; justify-content: end;"
          >
            <div class="content">
              <p class="sender">me</p>
              <p class="text">{message.text}</p>
            </div>
          </li>
        {:else}
          <li class="message">
            <div class="content">
              <p class="sender">{message.from}</p>
              <p class="text">{message.text}</p>
            </div>
          </li>
        {/if}
      {/each}
    </ul>
  {:else}
    <p>No messages</p>
  {/if}

  <div class="chatbox">
    <form
      class="form-cls"
      on:submit|preventDefault={() => (submittedValue = value)}
    >
      <input
        type="text"
        placeholder="type a message..."
        style="color: white;"
        bind:value={message}
      />
      <button class="send" on:click={sendMessage}>
        <svg
          color="#e6dede"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          width="16"
          height="16"
          viewBox="0 0 256 256"
          xml:space="preserve"
        >
          <g
            style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #ffffff; fill-rule: nonzero; opacity: 1;"
            transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
          >
            <path
              d="M 87.85 41.551 L 5.545 1.167 C 2.414 -0.369 -0.979 2.725 0.263 5.984 l 14.342 37.648 c 0.336 0.881 0.336 1.854 0 2.735 L 0.263 84.016 c -1.241 3.259 2.152 6.353 5.282 4.817 L 87.85 48.449 C 90.717 47.043 90.717 42.957 87.85 41.551 z"
              style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: currentColor; fill-rule: nonzero; opacity: 1;"
              transform=" matrix(1 0 0 1 0 0) "
              stroke-linecap="round"
            />
          </g>
        </svg>
      </button>
    </form>
  </div>
</div>

<style>
  .chat-frame {
    width: var(--chat-width);

    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    background: var(--default-bg);

    height: 100vh;
    height: 100dvh;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content min-content min-content auto min-content;
  }

  .button {
    padding: 0.6rem;
  }

  .header {
    padding: 1rem;
    background: var(--button-bg);
  }

  .chatbox {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    background: var(--button-bg);
  }

  .chatbox input {
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid #636361;
  }

  .messages {
    list-style-type: none;
    text-align: left;
    padding: 1rem;
    overflow: scroll;
  }

  .message {
    margin-top: 0.5rem;

    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
  }

  .message .content {
    padding: 1rem;

    border-radius: 1rem;
    background-color: var(--button-bg);
    width: fit-content;
    word-wrap: anywhere;
  }

  .message .avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: var(--default-fg);

    margin-top: 0.5rem;
  }

  .message .sender {
    font-weight: bold;
    margin: 0;
  }

  .message .text {
    margin: 0;
    color: #ffffff;
  }

  .send {
    border: none;
    margin-left: auto;
    background: none;
    cursor: pointer;
  }

  .form-cls {
    display: flex;
    justify-content: space-between;
    flex: content;
  }

  .guide-btn {
    grid-column: 1 / span 2;
  }

  .report-btn {
    grid-column: 3 / span 2;
  }

  .non-guide-mode {
    background-color: var(--link-color);
    color: black;
  }

  .xtra-btns-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 0.3rem;
    width: var(--chat-width);
  }

  .disabled {
    opacity: 0.4;
    cursor: auto;
  }

  /* Tablet mode styles: */
  @media (min-width: 744px) and (min-height: 400px) and (max-width: 1368px) and (max-height: 1024px) and (orientation: landscape) {
    .button {
      padding: 0.5rem;
    }
  }
</style>
