<script>
    export let client;
    export let gameID;
    export let player;
    export let game = {
        players: [],
        tricks: [],
    };

    let startLevel = 0;
    let endLevel = Math.max(game.handLength, 1);

    // Create the levels array
    let levels = Array.from(
        { length: endLevel + 1 },
        (_, index) => startLevel + index,
    );

    let selectedTrickCount = null; // Track the selected claim level

    // Function to check if a claim is valid
    function isValidClaim(level) {
        // Otherwise, enable levels based on trick length
        let maxLevel = game.handLength + 1 - game.tricks.length; // Maximum level based on hand length

        // Enable levels based on the maximum level by trick length
        return level <= maxLevel;
    }

    // Function to handle when a claim level is clicked
    function handleLevelClick(level) {
        if (isValidClaim(level)) {
            selectedTrickCount = level;
            // Handle the claim action here
        } else {
            console.log(`Invalid claim at level ${level}`);
        }
    }

    function makeClaim() {
        let maxLevel = game.handLength + 1 - game.tricks.length;
        // Find the index of the other player
        let otherPlayerIndex = player === 0 ? 1 : 0;

        let opponentTrickCount = maxLevel - selectedTrickCount;

        if (opponentTrickCount < 0 && selectedTrickCount < 0) {
            throw `${selectedTrickCount} and ${opponentTrickCount} are not valid numbers`;
        }

        let proposal = {
            [game.players[player].team]: selectedTrickCount,
            [game.players[otherPlayerIndex].team]: opponentTrickCount,
        };

        if (selectedTrickCount >= 0 && opponentTrickCount >= 0) {
            client.claim(gameID, proposal, "accepted");
        }

        // set them null
        selectedTrickCount = null;
        opponentTrickCount = null;

        game.showClaim = false;
    }

    function cancelClaim() {
        // set them null
        selectedTrickCount = null;
        game.showClaim = false;
    }
</script>

{#if game.showClaim}
    {#if game.handLength == 13}
        <div
            class="claim-board"
            style="grid-template-columns: repeat(6, 2.2rem);"
        >
            {#each levels as level}
                {#if level <= 12}
                    <button
                        on:click={() => handleLevelClick(level)}
                        disabled={!isValidClaim(level)}
                        class:highlight={selectedTrickCount === level}
                        class:disabled={!isValidClaim(level)}
                        class="claim-level"
                    >
                        {level}
                    </button>
                {/if}
                {#if level === 11}
                    <button
                        class="button-span cancel"
                        on:click={() => cancelClaim()}
                    >
                        X
                    </button>
                {/if}
                {#if level > 12 && level <= 13}
                    <button
                        on:click={() => handleLevelClick(level)}
                        disabled={!isValidClaim(level)}
                        class:highlight={selectedTrickCount === level}
                        class:disabled={!isValidClaim(level)}
                        class="claim-level"
                    >
                        {level}
                    </button>
                {/if}
                {#if level === 13}
                    <button
                        class="button-span"
                        class:ok={selectedTrickCount !== null}
                        on:click={() => makeClaim()}
                        disabled={selectedTrickCount === null}
                    >
                        Claim
                    </button>
                {/if}
            {/each}
        </div>
    {:else if game.handLength == 10}
        <div class="claim-board">
            {#each levels as level}
                {#if level <= 9}
                    <button
                        on:click={() => handleLevelClick(level)}
                        disabled={!isValidClaim(level)}
                        class:highlight={selectedTrickCount === level}
                        class:disabled={!isValidClaim(level)}
                        class="claim-level"
                    >
                        {level}
                    </button>
                {/if}
                {#if level === 9}
                    <button
                        class="button-span cancel"
                        on:click={() => cancelClaim()}
                    >
                        Cancel
                    </button>
                {/if}
                {#if level > 9 && level <= 11}
                    <button
                        on:click={() => handleLevelClick(level)}
                        disabled={!isValidClaim(level)}
                        class:highlight={selectedTrickCount === level}
                        class:disabled={!isValidClaim(level)}
                        class="claim-level"
                    >
                        {level}
                    </button>
                {/if}
                {#if level === 10}
                    <button
                        class="button-span"
                        class:ok={selectedTrickCount !== null}
                        on:click={() => makeClaim()}
                        disabled={selectedTrickCount === null}
                    >
                        Claim
                    </button>
                {/if}
            {/each}
        </div>
    {:else}
        <div class="claim-board">
            {#each levels as level}
                {#if level <= 4}
                    <button
                        on:click={() => handleLevelClick(level)}
                        disabled={!isValidClaim(level)}
                        class:highlight={selectedTrickCount === level}
                        class:disabled={!isValidClaim(level)}
                        class="claim-level"
                    >
                        {level}
                    </button>
                {/if}
                {#if level === 4}
                    <button
                        class="font-bold cancel"
                        on:click={() => cancelClaim()}
                    >
                        X
                    </button>
                {/if}
                {#if level > 4 && level <= 6}
                    <button
                        on:click={() => handleLevelClick(level)}
                        disabled={!isValidClaim(level)}
                        class:highlight={selectedTrickCount === level}
                        class:disabled={!isValidClaim(level)}
                        class="claim-level"
                    >
                        {level}
                    </button>
                {/if}
                {#if level === 6}
                    <button
                        class="button-span claim-level"
                        class:ok={selectedTrickCount !== null}
                        on:click={() => makeClaim()}
                        disabled={selectedTrickCount === null}
                    >
                        Claim
                    </button>
                {/if}
            {/each}
        </div>
    {/if}
{/if}

<style>
    .claim-board {
        display: grid;
        grid-template-columns: repeat(5, 2.2rem);
        flex-wrap: wrap;
        gap: 1px;
        background-color: rgb(118, 108, 108);
        border-radius: 2px;
    }

    .cancel {
        background-color: #ff0000;
        cursor: pointer;
    }

    .claim-level {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .claim-level.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .highlight {
        color: #000000;
        background-color: rgb(168, 168, 39);
        font-weight: 700;
    }

    .ok {
        background: linear-gradient(
            to right,
            #1c6120,
            rgb(121, 220, 29),
            #1c6120
        );
        background-size: 200% 100%;
        animation: blink 3s linear infinite;
        cursor: pointer;
    }

    .font-bold {
        font-weight: 900;
    }
    .button-span {
        grid-column: span 2;
    }
</style>
