<script>
  import { getLevel } from "../shared/util";
  import Suit from "./Suit.svelte";
  export let game = {
    deck: undefined,
    players: [],
    tricks: [],
    contract: {},
  };

  let scores = [];

  $: doubleOrRedouble =
    game?.contract?.redouble == true
      ? "XX"
      : game?.contract?.double == true
        ? "X"
        : "";

  $: {
    if (game?.gameEnd) {
      // if reset value is true, then reset the scores
      scores = [];
    }
    game.tricks;
    scores = game?.runningScore;
  }
</script>

<div class="container-box">
  <div class="contract-board">
    {#if game?.contract?.declarer !== undefined}
      <div class="contract-div">
        <p class="label">Contract</p>
        <div class="contract-container">
          <span class="nick-name"
            >{game.players[+game.contract.declarer].nickname}</span
          >
          <div class="contract">
            <span class="value">
              <span style="font-size: 1.2rem;">
                {getLevel(+game.contract.level, game.handLength)}
              </span>
              {#if game.tricks.trumpSuit == undefined}
                <Suit suit={game.tricks.trumpSuit} --suit-color="white" />
              {:else}
                <Suit suit={game.tricks.trumpSuit} --suit-color="white" />
              {/if}
            </span>
            <span class="dblRdbl">{doubleOrRedouble}</span>
          </div>
        </div>
      </div>
    {:else}
      <div class="contract-div">
        <p class="label">Contract</p>
        <div class="container-score">
          <div>-</div>
        </div>
      </div>
    {/if}
  </div>

  <div class:score-board={game?.tricks?.length > 0}>
    {#if game.tricks && game.tricks.length > 0}
      <p class="label" style="margin: 0;">Score</p>
      <!-- <ScoreBoard game={game} {scores} /> -->
      <div class="background-div">
        <div class="score-grid">
          <span>{game.players && game?.players[0]?.nickname}</span>
          <span>{game.players && game?.players[1]?.nickname}</span>
          <span class="score">{scores && scores[0] ? scores[0] : 0}</span>
          <span class="score">{scores && scores[1] ? scores[1] : 0}</span>
        </div>
      </div>
    {:else}
      <div class="contract-div">
        <p class="label">Score</p>
        <div class="container-score">
          <span class="nick-name"></span>
          <div class="contract-score">
            <div class="value">
              <span>-</span>
            </div>
          </div>
          <div class="dblRdbl"></div>
        </div>
      </div>
    {/if}
  </div>
</div>

<style>
  .container-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: var(--chat-width);
    height: 15vh;
    height: 15dvh;
  }

  .contract-container {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
  }

  .container-score {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }
  .nick-name,
  .contract,
  .dblRdbl {
    text-align: center;
  }
  .contract {
    border-left: 1px solid #ddd;
  }

  .contract-container {
    margin: auto;
  }

  .score-board {
    margin: auto;
  }

  .score-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    margin: auto;
    row-gap: 0.8rem;
    column-gap: 1.3rem;
  }

  .score {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }

  .background-div {
    margin: auto;
  }

  .value {
    display: inline-flex;
    padding: 4px;
  }
</style>
