<script>
    import { getTeamPlayers } from "../shared/util";
    import { SWAP } from "../constants/constants";
    import { disableBtnStore } from "../store/store";

    import Card from "./Card.svelte";
    export let player;
    export let gameframe;
    export let play;
    export let game = {
        tricks: [],
        players: [],
    };
    export let dummy = false;
    export let turn;
    export let playerIndex;
    export let disableBtn;
    export let client;

    let clearCard

    let dummyHands = [];

    let selectedCards = [];

    function handleClick(card) {
        if (!dummy) {
            if (["card", "take"].includes(turn.type)) {
                console.log("playing a card!");
                play(card);
            } else {
                if (
                    ["swap"].includes(turn.type) &&
                    turn.players.includes(playerIndex)
                ) {
                    if (selectedCards.length === 0) {
                        // If no cards are currently selected, add the clicked card
                        selectedCards = [card];
                    } else if (
                        selectedCards.length === 1 &&
                        selectedCards[0] !== card
                    ) {
                        // If one card is already selected and the clicked card is different
                        // Replace the old card with the clicked card
                        selectedCards = [card];
                    } else if (
                        selectedCards.length === 1 &&
                        selectedCards[0] === card
                    ) {
                        // If the clicked card is already selected, deselect it
                        selectedCards = [];
                    }

                    player.selectedCards = selectedCards;
                }
            }
        }
    }

    $: {
        game.tricks = game.tricks;
        dummyHands = dummyHands;

        if (dummy && game.handLength) {
            // Generate dummy hands based on game.handLength
            dummyHands = Array.from(
                { length: game.handLength },
                (_, index) => ({
                    rank: null,
                    suit: null, // Replace with appropriate dummy suit
                }),
            );
        } else {
            dummyHands = [];
        }
    }

    $: {
        if (!game.gameFinished && ["swap"].includes(turn.type)) {
            const filteredPlayers = getTeamPlayers(
                game.players,
                client.nickname,
            );

            disableBtn = filteredPlayers?.every((player) => {
                // Example: Disable button if the player has exactly 1 selected cards
                if (player.selectedCards?.length === SWAP.SWAP_CARD_COUNT) {
                    return true;
                }
            });

            clearCard = filteredPlayers?.every((player) => {
                return player.selectedCards?.length !== undefined;
            });

            disableBtnStore.set(disableBtn);
        }
    }
</script>

<!-- Do a check here in future for an empty hand -->
{#each dummy ? dummyHands : ["swap"].includes(turn.type) && player.previewHand ? player.previewHand : player && player.hand as card}
    <Card
        {card}
        onClick={() => handleClick(card)}
        {gameframe}
        selected={player?.selectedCards?.includes(card)}
    />
{/each}

<style>
    /* Define your card styles here */
</style>
