<script>
    import "../app.css";
    const { gameID, client, player } = $$props;

    export let game = {
        players: [],
        handLength: null,
        tricks: [],
    };

    let trick;
    let proposal;
    let claim;

    $: {
        game.tricks = game.tricks;
        trick = game.tricks[game.tricks.length - 1];

        claim = trick.getClaim();
        proposal = trick.getClaim()?.isClaimGoingOn()
            ? trick.getClaim().proposal
            : "";
    }

    function handleAccept() {
        client.claim(gameID, proposal, "accepted");
    }

    function handleReject() {
        client.claim(gameID, proposal, "rejected");
    }

    function getOtherPlayerIndex(player) {
        return player === 0 ? 1 : 0;
    }
</script>

<div class="modal">
    <div class="modal-content">
        <div>
            {`${game.players[getOtherPlayerIndex(player)].nickname} is claiming ${proposal[getOtherPlayerIndex(player)]} trick/s`}
        </div>
        <div>
            <button class="button" on:click={handleAccept}>Accept</button>
            <button class="button" on:click={handleReject}>Reject</button>
        </div>
    </div>
</div>

<style>
    .modal {
        width: 100%;
        height: 20%;
        background-color: #0e0c0c;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        background-color: #0e0c0c;
        padding: 1rem 2rem;
        border-radius: 8px;
        border: 1px solid #ccc;
        color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        gap: 1rem;
    }

    .button {
        background-color: #424242;
        margin: 5px;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
    }

    /* Tablet mode styles: */
    @media (min-width: 744px) and (min-height: 400px) and (max-width: 1368px) and (max-height: 1024px) and (orientation: landscape) {
        .modal-content {
            padding: 0.5rem 1rem;
        }
        .button {
            background-color: #424242;
            padding: 0.5rem;
            margin: 5px;
            border: none;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
        }
    }
</style>
