<script>
    export let game = {
        players: [],
    };
    export let player = null;
    export let ourPlayer = null;
    export let getNextTurn = null;
    export let i = null;
    export let turn = null;
</script>

<div class="player">
    <div class="avatar" class:rotate={i === ourPlayer}>
        <img
            style="clip-path: circle(50%); width: -webkit-fill-available;"
            src={player.avatar}
            alt="avatar"
        />
    </div>
    <p class="name" class:rotate={i === ourPlayer}>
        <span
            class:myTurn={["bid", "leading"].includes(turn.type)
                ? getNextTurn === i || getNextTurn === i % 2
                : getNextTurn === i}
            class:animate={["bid", "leading"].includes(turn.type)
                ? getNextTurn === i || getNextTurn === i % 2
                : getNextTurn === i}
        >
            {player.nickname || "Plaer"}
            {i == 0 ? "(S)" : i == 1 ? "(W)" : i == 2 ? "(N)" : "(E)"}
        </span>
    </p>
</div>

<style lang="scss">
    /// Mixin to place items on a circle
    /// @author Kitty Giraudel
    /// @author Ana Tudor
    /// @author Badri Sunderarajan
    /// @param {Integer} $item-count - Number of items on the circle
    @mixin on-circle($item-count) {
        $angle: calc(360 / $item-count);
        --rotation-increment: #{$angle};

        > * {
            @for $i from 1 through calc($item-count + 1) {
                &:nth-of-type(#{$i}) {
                    --rotation-count: #{$i};
                }
            }
        }
    }

    .game-frame {
        --game-min: min(var(--game-height), var(--game-width));
        --players-height: calc(var(--game-height) - var(--hand-height));
        --players-width: var(--game-width);
        --players-min: min(var(--players-height), var(--players-width));
        --players-max: max(var(--players-height), var(--players-width));

        --initial-rotation: 180deg;
        --rotation-extra-turns: 0; /* How many extra turns to make */
        --rotation-increment: 0deg; /* to be overridden */
        --rotation-count: 0; /* to be overidden */

        --hand-height: 4rem;

        --player-height: var(--players-max);
        --player-width: auto;
        --player-gap: calc(var(--players-min) * 0.2);

        --nickname-height: 1rem;
        --avatar-size: calc(var(--players-min) * 0.38);

        --discard-height: calc(
            var(--player-height) * 0.65 - var(--player-gap) - var(
                    --nickname-height
                ) - var(--avatar-size)
        );
        --discard-width: calc(var(--discard-height) * 0.55);

        --discard-click-height: calc(
            var(--player-height) * 0.6 - var(--player-gap) - var(
                    --nickname-height
                ) - var(--avatar-size)
        );
        --discard-click-width: calc(var(--discard-height) * 0.7);

        width: 100%;
        height: 100vh;
        height: 100dvh;
        grid-column: 2;

        background: var(--default-bg);

        display: grid;
        grid-template-rows: min-content auto min-content;
        grid-template-columns: auto;
        align-content: center;
        justify-items: center;
    }

    /* On taller screens, we can display a row */
    @media (min-height: 420px) {
        .player {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }

    .players {
        max-width: 100vw;
        height: var(--players-height);
        width: var(--game-width);
        margin: auto;

        display: flex;
        justify-content: space-around;

        flex-direction: row;

        &.flipped {
            background-color: var(--bg-flipped);
        }

        /* On taller screens, we can display as rows */
        @media (min-height: 420px) {
            flex-direction: column;
        }

        /* On taller screens, we can display a row */
        @media (min-height: 420px) {
            .player {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
        }

        /* Switch to circular mode if the screen is big enough */
        @media (min-height: 420px) and (min-width: 420px) {
            /* We ourselves become a circle */
            height: calc(var(--players-min) - var(--avatar-size));
            width: calc(var(--players-min) - var(--avatar-size));
            border-radius: calc(var(--players-min) / 2);
            margin: auto;
            background: var(--button-bg);

            --player-height: calc(var(--players-min) * 0.46); //0.46
            --player-width: var(--player-height);

            display: block;

            /* Define special angle for each count */
            @for $i from 1 through 6 {
                &.count-#{$i} {
                    @include on-circle($item-count: $i);
                }
            }

            .player {
                height: calc(var(--player-height) * 2);
                display: block;
                position: absolute;
                left: calc(
                    var(--history-width) + var(--players-width) / 2 - var(
                            --player-width
                        ) / 2
                );
                top: var(--ad-space);

                transform: rotate(
                    calc(
                        var(--rotation-increment) *
                            (
                                var(--rotation-count) - var(
                                        --rotation-extra-turns
                                    ) - 1
                            ) * 1deg + var(--initial-rotation)
                    )
                );
            }
        }

        /* Once we cross 900px, we can start scaling up the cards */
        @media (min-width: 900px) and (min-height: 600px) {
            --avatar-size: calc(var(--players-min) * 0.08);
        }
    }

    .player {
        height: var(--player-height);
        width: var(--player-width);

        .avatar {
            width: var(--avatar-size);
            height: var(--avatar-size);
            border-radius: calc(var(--avatar-size) / 2);
            background: var(--default-fg);
            margin: auto;
            margin-bottom: 0.4rem;
        }

        .name {
            padding: 0;
            margin: 0;
            font-weight: bolder;
            display: flex;
            justify-content: center;
        }

        .discard,
        .click-to-play {
            padding: 0;
            margin: auto;
            height: var(--discard-height);
            width: var(--discard-width);
            background: var(--button-bg);

            display: flex;
            align-items: center;
            justify-content: center;

            .ready-card,
            .bid-card {
                padding: 1rem;
                border-radius: 1rem;
            }
            .ready-card {
                background-color: var(--bg-primary);
            }

            .bid-card {
                background-color: var(--bg-secondary);
            }
        }

        .click-to-play {
            height: var(--discard-click-height);
            width: var(--discard-click-width);
        }
    }

    .player {
        height: calc(var(--player-height) * 2);
        display: block;
        position: absolute;
        left: calc(
            var(--history-width) + var(--players-width) / 2 - var(
                    --player-width
                ) / 2
        );
        top: var(--ad-space);

        transform: rotate(
            calc(
                var(--rotation-increment) *
                    (var(--rotation-count) - var(--rotation-extra-turns) - 1) *
                    1deg + var(--initial-rotation)
            )
        );
    }
</style>
