<script>
  export let game = {
    players: [],
    cumScore: [],
    scores: [],
  };
  export let turn;

  // Extracting player nicknames
  const player1 = game?.players[0]?.nickname;
  const player2 = game?.players[1]?.nickname;
</script>

<!-- TODO: Change this in future-->
{#if turn.type == "score" && game?.scores && game?.cumScore}
  <div class="score-container">
    <div class="header">Player</div>
    <div class="header">Deal Score</div>
    <div class="header">Total Score</div>

    <span class="player">{player1}</span>
    <span class="score">{game?.scores[0]}</span>
    <span class="score">{game?.cumScore[0]}</span>
    <span class="player">{player2}</span>
    <span class="score">{game?.scores[1]}</span>
    <span class="score">{game?.cumScore[1]}</span>
  </div>
{/if}

<style>
  /* Add your styles here */
  .score-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    margin: auto;
    gap: .2rem;
    background-color: var(--default-btn-bg);
  }
 
  .header {
    background-color: rgb(128 128 128);
    padding: .3rem;
    color: black;
    font-weight: 800;
  }

  .player {
    background-color: rgb(128 128 128);
    padding: .3rem;
    color: black;
    font-weight: 800;
  }

  .score {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    background-color: rgb(102, 100, 100);
    padding: .3rem;
  }

  @media (min-width: 744px) and (min-height: 400px) and (max-width: 1368px) and (max-height: 1024px) and (orientation: landscape) {
    .score-container {
      grid-template-columns: repeat(3, 1fr);
      gap: 0.12rem;
      font-size: smaller;
    }

    .header, 
    .player,
    .score {
      padding: 0.15rem;
    }
  }
</style>
