<script>
  export let suit = null
  // To configure the colour, use style="--suit-color:..."
</script>

{#if suit == 'NT' || suit == undefined}
  <span>NT</span>
{:else}
<span
  class="suit"
  class:clubs={suit == 'C'}
  class:diamonds={suit == 'D'}
  class:hearts={suit == 'H'}
  class:spades={suit == 'S'}
  alt={suit}
/>
{/if}


<style>
  .suit {
    width: 1em;
    height: 1em;
    display: inline-block;
    position: relative;
    top: 0.15rem;
    mask-size: 1em;
    -webkit-mask-size: 1em;
  }

  .clubs {
    background: var(--suit-color, var(--suit-clubs));
    mask-image: var(--suit-svg-clubs);
    -webkit-mask-image: var(--suit-svg-clubs);
  }

  .diamonds {
    background: var(--suit-color, var(--suit-diamonds));
    mask-image: var(--suit-svg-diamonds);
    -webkit-mask-image: var(--suit-svg-diamonds);
  }

  .hearts {
    background: var(--suit-color, var(--suit-hearts));
    mask-image: var(--suit-svg-hearts);
    -webkit-mask-image: var(--suit-svg-hearts);
  }

  .spades {
    background: var(--suit-color, var(--suit-spades));
    mask-image: var(--suit-svg-spades);
    -webkit-mask-image: var(--suit-svg-spades);
  }

  .nt {
    background: var(--suit-color, var(--suit-nt));
    mask-image: var(--suit-svg-nt);
    -webkit-mask-image: var(--suit-svg-nt);
  }
</style>
