<script>
  // @ts-nocheck

  import { push } from "svelte-spa-router";
  import ErrorNote from "../lib/ErrorNote.svelte";
  import HistoryFrame from "../lib/HistoryFrame.svelte";
  import GameFrame from "../lib/GameFrame.svelte";
  import ChatFrame from "../lib/ChatFrame.svelte";

  // Global data
  export let client;
  export let dool;
  export let defaultLogin;

  window.dool = dool; // TODO: remove this line
  window.client = client; // TODO: and this one too

  export let params = {};
  let turn = {};
  let player = 0;
  let ourPlayer = 0;
  let userIndex = 0;
  let watcherIndex;
  let occupantIndex;
  let undo = null;
  let isConnected = true;
  let showRules = false; 
  let guidedMode = true;

  // Handle room events
  client.on("roomFull", () => {
    alert("Unfortunately, this room is full.");
    push("/");
  });

  /**
   * Initialise Client
   *
   * This function runs in three stages: connecting,
   * getting the nickname, and actually loading the
   * game. It automatically decides which stage it's
   * supposed to be in, continuing from there and
   * passing itself as a callback.
   */
  function initClient(gameID) {
    if (client.xmpp?.status != "online") {
      // Run 1: make sure we're connected
      if (!["connecting", "online"].includes(client.xmpp?.status)) {
        client.xmppConnect(defaultLogin);
      }

      client.once("connected", () => initClient(gameID));

      return;
    } else if (!client.nickname) {
      // Run 2: make sure we have a nickname
      let midName = prompt("Please choose a nickname (use up to 8 characters)");
      client.nickname = midName.slice(0, 8);
      initClient(gameID, null, client.nickname);
    } else {
      client.on("error", () => {
        dool = dool;
      });

      client.xmpp.on("stanza", () => {
        dool = dool;
      });

      window.addEventListener('offline', () => {
        isConnected = false
      });

      window.addEventListener('online', () => {
        isConnected = true
      });

      // Handle errors
      // TODO: do this in a more appropriate place
      client.on("cardError", (error) => {
        alert(`The card play failed: ${error.text}`);
      });

      client.on("bidError", (error) => {
        alert(`The bid could not be made: ${error.text}`);
      });

      client.on("startError", (error) => {
        alert(`You cannot start the game! Maybe it's already started?`);
      });

      client.on("claimError", (error) => {
        alert(`You cannot claim now; ${error.text}`);
      });

      // Run 3: actually load the game
      dool.gameID = gameID;
      client.join(gameID, null, client.nickname);
    }
  }

  // TODO: CHANGE IT LATER
  function claim() {
    dool.data.showClaim = true;
  }

  function registerUndo(fn) {
    undo = fn;
  }

  function showRulesModalFunc(showModal) {
    showRules = !showModal
  }

  function handleGuideMode(showGuide) {
    guidedMode = showGuide
  }

  if (!!params.gameID) {
    initClient(params.gameID);
  } else {
    push("/");
  }

  // Track the turn and player
  $: {
    dool;
    isConnected;
    turn = dool.getTurn();

    // Get the user index: our position in the occupants list
    userIndex = dool.data?.occupants
      ?.filter((o) => o.role === "player")
      .findIndex((o) => o.nickname == client.nickname);

    occupantIndex = dool.data?.occupants?.findIndex(
      (o) => o.nickname == client.nickname,
    );

    watcherIndex = dool.data?.occupants
      ?.filter((o) => o.role === "watcher")
      .findIndex((o) => o.nickname === client.nickname);

    // If all fails, assume we're the first user
    if (userIndex < 0) userIndex = 0;

    // Get the player index the same way
    player = dool.data?.players?.findIndex(
      (p) => p.nickname == client.nickname,
    );

    ourPlayer = dool.data?.players?.findIndex(
      (p) => p.nickname == client.nickname,
    );
  }
</script>

{#if !dool?.data}
  <ErrorNote header="" message="Unfortunately, there is no game!" />
{:else}
  <p class="orientation-message">Please rotate your device to play</p>
  <div class="container">
    <HistoryFrame game={dool.data} {player} {dool} {watcherIndex} {turn} />
    {#if dool.data.players?.length}
      <GameFrame
        {userIndex}
        game={dool.data}
        {turn}
        {player}
        gameID={dool.gameID}
        {client}
        {watcherIndex}
        {registerUndo}
        {isConnected}
        {showRules}
        {guidedMode}
        {showRulesModalFunc}
      />
    {:else}
      <GameFrame
        {userIndex}
        {occupantIndex}
        occupants={dool.data.occupants}
        player={userIndex}
        gameID={dool.gameID}
        {client}
        {isConnected}
        {showRules}
        {showRulesModalFunc}
      />
    {/if}
    <ChatFrame
      {userIndex}
      {watcherIndex}
      game={dool.data}
      messages={dool.data.messages}
      gameID={dool.gameID}
      {client}
      {claim}
      {undo}
      {turn}
      {showRulesModalFunc}
      {handleGuideMode}
    />
  </div>
{/if}

<style>
  .container {
    --history-width: 100vw;
    --chat-width: 100vw;

    --game-height: 100vh;
    --game-height: 100dvh;
    --game-width: 100vw;
    overflow: hidden;

    width: 100vw;
    height: 100vh;
    height: 100dvh;

    display: grid;

    grid-template-rows: auto;
    grid-template-columns: var(--history-width) var(--game-width) var(
        --chat-width
      );

    gap: 1px;

    /* border colour */
    background: black;
  }

  @media (min-width: 600px) {
    .container {
      overflow: hidden;
      --history-width: calc((100vw - 2px) / 2);
      --chat-width: calc((100vw - 2px) / 2);
      --game-width: calc((100vw - 2px) / 2);
    }
  }

  @media (min-width: 900px) {
    .container {
      overflow: hidden;
      --history-width: min(70rem, max(15rem, 25vw));
      --chat-width: min(70rem, max(15rem, 25vw));
      --game-width: calc(
        100vw - var(--chat-width) - var(--history-width) - 2px
      );
    }
  }

  @media (min-width: 744px) and (min-height: 400px) and (max-width: 1368px) and (max-height: 1024px) and (orientation: landscape) {
    .container {
      background-color: blue;
      --history-width: min(70rem, max(15rem, 25vw));
      --chat-width: min(70rem, max(15rem, 25vw));
      --game-width: calc(
        100vw - var(--chat-width) - var(--history-width) - 2px
      );
    }
  }

  /* Hide the orientation message by default */
  .orientation-message {
    display: none;
  }

  /* When in portrait orientation */
  @media screen and (orientation: portrait) {
    .container {
      /* Optionally, hide your app content or make adjustments for portrait mode */
      display: none;
    }

    .orientation-message {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      z-index: 1000;
      text-align: center;
      flex-direction: column;
      padding: 20px;
      box-sizing: border-box;
    }
  }
</style>
