<script>
// @ts-nocheck

  import { v4 as uuidv4 } from "uuid";
  import { push } from "svelte-spa-router";
  import doolLogo from "../assets/dool.svg";

  // Global objects
  export let client;
  export let defaultLogin;

  let loading = false;
  let waiting = false;

  // Toggle loading class on Hool eyes
  $: {
    if (loading) {
      document
        .getElementById("dool-logo")
        ?.contentDocument.getElementById("layer-dool")
        .classList.add("loading");
    } else {
      document
        .getElementById("dool-logo")
        ?.contentDocument.getElementById("layer-dool")
        .classList.remove("loading");
    }
  }

  // User's preferred nickname
  let nickname;

  const handleInput = () => {
    if (nickname.length > 8) {
      nickname = nickname.slice(0, 8);
    }
  };

  // Which game variant to play
  let variant;

  // Log in and start the game
  function startGame(e) {
    e.preventDefault();
    if (loading) return;

    loading = true;

    // Initiate the XMPP session
    client.xmppConnect(defaultLogin);

    // Switch to the game once we're connected
    client.once("connected", () => {
      // save our nickname
      client.nickname = nickname;

      // generate a random ID for our game
      let gameID = uuidv4();

      push(`/game/${gameID}`);
    });

  }
</script>

<div class="branding" class:waiting={!loading}>
  <h1>
    <!-- svelte-ignore a11y-missing-attribute -->
    <object id="dool-logo" data={doolLogo} type="image/svg+xml">
      <img src={doolLogo} class="logo" class:loading alt="Dool" />
      Dool
    </object>
  </h1>
</div>

<form class="login-row" on:submit={startGame}>
  <!-- svelte-ignore a11y-autofocus -->
  <input
    type="text"
    bind:value={nickname}
    on:input={handleInput}
    placeholder="Enter your nickname"
    aria-label="Enter your preferred nickname"
    autofocus
  />
  <input class="button" type="submit" name="submit" value="New Game" />
</form>

<style>
  .logo {
    height: 15vmax;
    padding: 0.5em;

    filter: drop-shadow(0 0 2em #646cffaa);
  }

  .login-row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, auto);
    grid-gap: var(--default-gap);
  }
</style>
