<script>
  import '../app.css'
  export let show = false;
  export let onClose;

  function copyToClipboard() {
    const email = "amaresh.deshpande@gmail.com";

    // Create a temporary textarea element
    const textarea = document.createElement("textarea");
    textarea.value = email;
    document.body.appendChild(textarea);

    // Select the text
    textarea.select();
    textarea.setSelectionRange(0, 99999); // For mobile devices

    try {
      // Execute the copy command
      document.execCommand("copy");
      alert("Zelle ID copied to clipboard, please paste it into the Zelle app");
    } catch (err) {
      alert("Failed to copy");
    }

    // Remove the temporary textarea element
    document.body.removeChild(textarea);
  }
</script>

<style>
  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: -3.3rem;
    width: 100%;
    height: 100%;
  }

  .modal-content {
    background-color: black;
    margin: auto;
    padding: 1.5rem;
    border: 1px solid #888;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 1.34rem;
  }

  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

  .button {
    background-color: #5e5d5d;
  }
</style>

<div class="modal" style:display={show ? 'block' : 'none'}>
  <div class="modal-content">
    <!-- svelte-ignore a11y-click-events-have-key-events -->
    <span class="close" on:click={onClose}>&times;</span>
    <h2>Support Us</h2>
    <div class="btn-container">
      <div>PayPal: <br/><a class="button" href={import.meta.env.VITE_DONATE_PAYPAL_LINK} target="_blank">Donate with PayPal</a></div>
      <div>Zelle: <br/><a class="button" on:click={copyToClipboard}>{import.meta.env.VITE_DONATE_ZELLE_ID}</a></div>
    </div>
  </div>
</div>
