<script>
  import '../app.css'
  export let cardCount;
  export let rotation_of_Cards;

  if(cardCount == 14) cardCount = 13
  if(cardCount == 11) cardCount = 10
  if(cardCount == 7) cardCount = 6

  function createCardsArray(length) {
    return Array.from({ length }, (_, index) => ({
      id: index + 1,
      rotation: rotation_of_Cards
    }));
  }
</script>

<div class="hidden-hand">
  {#each createCardsArray(cardCount) as card}
    <div class="card" style="transform: rotate({card.rotation}deg)">
    </div>
  {/each}
</div>

<style>
  .hidden-hand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: inherit;
  }

  .card {
    width: var(--hidden-card-width);
    height: var(--hidden-card-height);
    background-color: #8d8d8d;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
</style>
