<script>
    export let headerText = "";
    export let messageText = "";
    export let cancelButton = "";
    export let agreeButton = "";
    export let previewButton = "";
    export let clearButton = "";
    export let disableBtn = "";
    export let clearCard = "";
    export let cancelFunc = () => {};
    export let agreeFunc = () => {};
    export let previewFunc = () => {};
    export let clearFun = () => {};

    function handleCancel() {
        cancelFunc();
    }

    function handleAgree() {
        agreeFunc();
    }

    function handlePreview() {
        previewFunc();
    }

    function handleClear() {
        clearFun();
    }
</script>

<div class="message-dialog">
    {#if headerText}
        <div>{headerText}</div>
    {/if}
    {#if messageText}
        <div>{messageText}</div>
    {/if}

    <div class="container-swap">
        {#if clearButton}
            <button class:disabled={!clearCard} on:click={handleClear}>
                {clearButton}
            </button>
        {/if}
        {#if previewButton}
            <button class:disabled={!disableBtn} on:click={handlePreview}>
                {previewButton}
            </button>
        {/if}
        {#if cancelButton}
            <button on:click={handleCancel}>{cancelButton}</button>
        {/if}
        {#if agreeButton}
            <button class:disabled={!disableBtn} on:click={handleAgree}>
                {agreeButton}
            </button>
        {/if}
    </div>
</div>

<style>
    .message-dialog {
        max-width: 100%;
        margin: 0 auto;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #0e0c0c;
        text-align: center;
    }

    button {
        margin: 5px;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        background-color: #323335;
        color: #fff;
        cursor: pointer;
    }

    button:hover {
        background-color: #414448;
    }

    .disabled {
        opacity: 0.4;
        pointer-events: none;
        cursor: auto;
    }

    .container-swap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.2rem;
    }

    @media (min-width: 744px) and (min-height: 400px) and (max-width: 1368px) and (max-height: 1024px) and (orientation: landscape) {
        .message-dialog {
            padding: 0.3rem;
            font-size: small;
        }
    }
</style>
