<script>
  export let showRulesModalFunc;
  export let handLength;
</script>

<div class="modal">
  <div class="modal-content modal-for-known-full">
    <!-- svelte-ignore a11y-click-events-have-key-events -->
    <span class="close" on:click={showRulesModalFunc(true)}>&times;</span>
    <h2 class="stick">Overview:</h2>
    <b>Stage 1 (Swap): </b>
    <div>Both players can swap one card from their own two hands</div>
    <br />

    <b>Stage 2 (Bidding): </b>
    <div>Instead of three passes in a row, a single pass will seal the contract
    Rest of the bidding like Bridge</div>
    <br />

    <b>Stage 3 (Opening lead): </b>
    <div>Declarer will choose the direction of the opening lead for the Defender</div>
    <br />
    
    <b>Stage 4 (Play):</b>
    <div>Like Bridge</div>
    <br />
    
    <b>Stage 5 (Scoring):</b>
    <div>Like Bridge</div>
    <br />
    ………………
    <br />
    <br />
    <div>For players who do not play Bridge, there is  an easier, quicker version of this game here</div>
    <br />

    <a href="https://known-half.dool.groop.games/" target=”_blank”>Dool 24/24</a>
  </div>
</div>

<style>
  .modal {
    position: absolute;
    z-index: 10000;
    left: 0;
    top: 0;
    width: var(--game-width);
    height: var(--game-height);
    overflow: auto;
    text-align: left;
    margin: auto;
    transform: translate(50%, 2%);
  }

  .modal-content {
    background-color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .modal-for-known-full {
    display: grid;
    height: calc(var(--game-height) - 5em);
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: end;
  }

  .stick {
    position: static;
  }

  .close:hover,
  .close:focus {
    color: rgb(220, 38, 38);
    text-decoration: none;
    cursor: pointer;
  }
</style>
