<script>
    export let player;
    export let undoFunction;
    let showUndo = true;
    function handleClick() {
        undoFunction();
        showUndo = false;
    }
</script>

<div class="undo">
    <button on:click={handleClick}>
        {#if showUndo}
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-undo"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M12 9v-4l-5 5 5 5v-4c4.5 0 8 3.5 8 8h4c0 -6.5 -5.5 -12 -12 -12z"
                />
            </svg>
        {/if}
    </button>
</div>

<style>
    .undo {
        z-index: 999;
        display: flex;
        align-items: center;
    }

    .undo:hover {
        background-color: red;
    }

    .player {
        margin-left: 8px;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
    }

    .icon {
        fill: currentColor;
        vertical-align: middle;
    }
</style>
