<script>
  export let dealNumber = null;
  export let vulnerableSides = [];
  export let dealer = null;

  let sides = [
    {
      display: "NS",
      vul: false,
    },
    {
      display: "EW",
      vul: false,
    },
  ];

  $: {
    sides = [
      {
        display: "NS",
        vul: vulnerableSides.includes(0),
      },
      {
        display: "EW",
        vul: vulnerableSides.includes(1),
      },
    ];
  }
</script>

<div class="container">
  <div class="info">Deal # : {dealNumber || ""}</div>
  <div class="vulnerability">
    {#each sides as side, i}
      <div class={side.vul ? "vulnerable" : "non-vulnerable"}>
        {side.display}
        {i === dealer ? "(D)" : ""}
      </div>
    {/each}
  </div>
</div>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    background-color: var(--default-bg);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: var(--chat-width);
  }

  .info {
    font-weight: bold;
  }

  .vulnerability {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 5rem);
    font-size: small;
    gap: 0.3rem;
  }

  .vulnerability div {
    width: 100%;
    height: 100%;
    border: 1px solid #888;
    color: black;
    font-weight: 900;
  }

  .vulnerable {
    background-color: red;
  }

  .non-vulnerable {
    background-color: rgb(240, 238, 238);
  }
</style>
